* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  color: white;
  padding: 10px;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

/* SMILE */
.smile {
  width: 70px;
  height: 20px;
  border-bottom: 4px solid orange;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 30px;
}

/* LOCATION */
.location {
  font-size: 12px;
}

/* SEARCH */
.search-box {
  display: flex;
  width: 40%;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: none;
}

.search-box button {
  background-color: orange;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* ACCOUNT */
.account {
  font-size: 14px;
}

/* CART */
.cart {
  font-size: 16px;
  cursor: pointer;
}